@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100|Pacifico');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #101010;
}

header {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.intro {
  font-family: Josefin Sans;
  color: white;
  padding: 20px;
  height: 420px;
  background-color: #101010;
}

.content {
  background-color: #383838;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 100px;

}

.content h2 {
  font-family: Josefin Sans;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  grid-gap: 30px;
  padding-bottom: 15px;
}

.title {
  background-color: #1B1B1B;
  color: white;
  width: 100%;
  padding: 13px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  align-self: flex-end;
}

.item {
  width: 95%;
  display: flex;
  font-family: Josefin Sans;
  text-decoration: none;
  border-radius: 27px;
  box-shadow: inset 0 0 100px black;
}

.surf {
  background: url("../img/projects/usex/surfspot.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  grid-row: 1;
}

.nettie {
  background: url("../img/projects/usex/nettie.png");
  background-size: cover;  
  background-repeat: none;
  background-position: center;
  grid-row: 2;
}

.ro {
  background: url("../img/projects/usex/Rijksoverheid.png");
  background-size: cover;  
  background-repeat: none;
  background-position: center;
  grid-row: 3;
}











































/*space*/
