@media only screen and (min-width: 900px) and (max-width: 1349px) {

.container {
  grid-template-rows: 350px 350px 350px 350px 800px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-row-gap: 100px;
}

.img1 {
	grid-row: 1;
	grid-column: 1;
}

.text1 {
	grid-row: 1;
	grid-column: 2;
}

.img2 {
	grid-row: 2;
	grid-column: 2
}

.text2 {
	grid-row: 2;
	grid-column: 1;
}

.img3 {
	grid-row: 3;
	grid-column: 1;
}

.text3 {
	grid-row: 3;
	grid-column: 2;
}

.img4 {
	grid-row: 4;
	grid-column: 2;
}

.text4 {
	grid-row: 4;
	grid-column: 1;
}

.video {
	grid-row: 5;
	grid-column: 1 / span 2;
}

}
